{{ 'announcement-slider.css' | asset_url | stylesheet_tag }}

<div class="announcement-slider" data-interval="{{ section.settings.interval }}">
  <div class="announcement-slider__inner">
    {% for block in section.blocks %}
      <div class="announcement-slide {% if forloop.first %}is-active{% endif %}">
        <div class="announcement-content">

        <span class="announcement-text">
          {{ block.settings.text }}
        </span>

        {% if block.settings.link_label != blank %}
          <span class="announcement-arrow">→</span>
          <a href="{{ block.settings.link }}" class="announcement-link">
            {{ block.settings.link_label }}
          </a>
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Announcement Slider",
  "settings": [
    {
      "type": "range",
      "id": "interval",
      "label": "Slide interval (ms)",
      "min": 1000,
      "max": 5000,
      "step": 500,
      "default": 3000
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Up to 70% Off Sale Styles"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Link label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "max_blocks": 5
}
{% endschema %}
